$font-primary: "Rufina", serif;
$font-secondary: "Dosis", sans-serif;

$color-primary: rgb(216, 164, 127);
$color-2: rgb(239, 131, 84);
$color-3: rgb(238, 75, 106);
$color-4: rgb(223, 59, 87);
$color-5: rgb(15, 113, 115);
